# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js build output
/.next/
/out/

# production
/build
/dist

# environment and secrets
.env
.env*.local
.env.development
.env.test
.env.production
*.env
*.pem
*.key
secrets.*

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system & IDE
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
